{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>DishoomIt Pre-Launch Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- css -->
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link href="{% static "style.css" %}" rel="stylesheet">
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.js" type="text/javascript"></script>
    <script src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.min.js"></script>
	{% include 'autocomplete_light/static.html' %}
    
    <script>
		function validateForm(eventObj) {
			var parentForm = $(eventObj.target).parents('form'), isValid = true;
			var selectRestValue = $('#rest_form #restaurant').val();
			var restInput = $('#rest_form #restaurant_text').val();
			if((selectRestValue == null || selectRestValue.length == 0) && (restInput != null && restInput.length == 0)) {
				isValid = false;
			}
			
			if($('#rest_form #id_rating').val() === "1") {
				isValid = false;
			}
			
			if(isValid) {
				parentForm.children(':button[type="submit"]').prop("disabled", false);
			} else {
				parentForm.children(':button[type="submit"]').prop("disabled", true);
			}
		}
		
		
		function validateDishForm(eventObj) {
			var parentForm = $(eventObj.target).parents('form'), isValid = true;
			var selectRestValue = $('#sidebarform #restaurant').val();
			var restInput = $('#sidebarform #restaurant_text').val();
			
			if ($("#sidebarform #id_dish_name").val().length == 0) {
				isValid = false;
			}
			
			if((selectRestValue == null || selectRestValue.length == 0) && (restInput != null && restInput.length == 0)) {
				isValid = false;
			}
			
			if($('#sidebarform #id_rating').val() === "1") {
				isValid = false;
			}
			
			if(isValid) {
				parentForm.children(':button[type="submit"]').prop("disabled", false);
			} else {
				parentForm.children(':button[type="submit"]').prop("disabled", true);
			}
		}
	
	    $(document).ready(function(){
			$("form :button[type='submit']").prop("disabled", true);
			$("#rest_form :input:not(:button)").change(validateForm);
			$("#sidebarform :input:not(:button)").change(validateDishForm);
	    }); 
    </script>

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <link rel="shortcut icon" href="{% static "img/favicon.png" %}">
  </head>
  <body>
    
    <div class="container">

      <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
          <img id="logo" src="{% static "img/logo.png" %}">
          <p class="navbar-text"><strong>Hi, {{ usernamee }}!</strong> &mdash; {{ user_msg }}</p>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/logout/">Log Out</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </nav>
      
      <div id="content" class="row">
        <div id="main" class="col-md-9">
          <div class="alert alert-info alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <p><strong>Please read this before you start:</strong></p>
            <ol>
              <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>
              <li>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
              <li>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</li>
              <li>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</li>
            </ol>
          </div>
          
          <div class="row">
            <div class="col-md-1">
              <ul>
                {% for char in array %}
                	{% if char == alphabet %}
                		<li class="active"><a href="/starts_with/{{ char }}/">{{ char }}</a></li>
                	{% else %}
                		<li><a href="/starts_with/{{ char }}/">{{ char }}</a></li>
                	{% endif %}
                {% endfor %}
              </ul>
            </div><!-- /alphabets -->
            <div class="col-md-3">
              <p>There are currently no dishes starting with <strong>{{ alphabet }}</strong>. If you know any, please add them? Thank you! :)</p>
            </div><!-- /dishes -->
            <div class="col-md-5">
              <h3>Add a New Dish</h3>
              	{% if error %}
                	<p style="color:red">{{ error }}</p>
                {% endif %}
	             <form role="form" action="/submit/" method="post" id="rest_form">
	              	{% csrf_token %}
	              	{% for field in form %}
		              	<div class="form-group">
			              	{{ field.label_tag }}
			              	{{ field }}
		              	</div>
	              	{% endfor %}
	              	<input type="hidden" name="alphabet" value=" {{ alphabet }} ">
	                <input type="hidden" name="active_id" value=" {{ active_id }} ">
	                <input type="hidden" name="formtype" value=" {{ formtype }} ">
	                <input type="hidden" name="location" value="main">
	                <button type="submit" class="btn btn-primary btn-block"><i class="fa fa-check-circle"></i> Save</button>
	              </form>
            </div><!-- /dish -->
          </div>
        </div><!-- /#main -->
        <div id="sidebar" class="col-md-3">
          <div class="well" data-spy="affix" data-offset-top="0">
            <p>Can&rsquo;t find a particular dish? Have a very specific dish in mind that you&rsquo;d like to rate?</p>
            <button type="button" class="btn btn-block btn-default" data-toggle="collapse" data-target="#specific">Add</button>
             <!-- <div id="specific" class="collapse"> -->
              {% if sideerror %}
              		<div id="specific"> 
                	<p style="color:red">{{ sideerror }}</p>
              {% else %}
              		<div id="specific" class="collapse">
              {% endif %}
	             <form role="form" action="/submit/" method="post" id="sidebarform">
	              	{% csrf_token %}
	              	{% for field in sidebarform %}
		              	<div class="form-group">
			              	{{ field.label_tag }}
			              	{{ field }}
		              	</div>
	              	{% endfor %}
	              	<input type="hidden" name="alphabet" value=" {{ alphabet }} ">
	                <input type="hidden" name="active_id" value=" {{ active_id }} ">
	                <input type="hidden" name="formtype" value=" {{ formtype }} ">
	                <input type="hidden" name="location" value="sidebar">
	                <button type="submit" class="btn btn-primary btn-block"><i class="fa fa-check-circle"></i> Save</button>
	             </form>
            </div>
          </div>
        </div><!-- /#sidebar -->
        <div id="footer" class="col-md-12">
          <p>&copy; 2014 &mdash; Se7en Labs</p>
        </div>
      </div><!-- /.row -->

    </div><!-- /.container -->
  </body>
</html>